#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
/* main layout */
#col-left {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 50%;
    padding-right: 26px; /* makes room for middle column */
}
#col-right {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 50%;
    right: 0;
    padding-left: 26px;
}
#col-mid {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 50%;
    width: 50px;
    margin-left: -26px;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
    z-index: 10;
}

#note-tb {
    width: 50px;
}

#note-tb div {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: solid 1px #DDDDDD;
}
#note-tb div:hover {
    /*background-color: #DDDDDD;*/
}
#btn-marker {
    background-image: url("../img/marker.png");
    /*background-color: rgba(255, 245, 153, 1);*/
    background-color: rgba(255, 255, 51, 0.5);
    box-shadow: 0px 1px 2px;
    
    /*border-radius: 10%;*/
}

#btn-marker:hover {
    box-shadow: 0px 2px 2px;
    opacity: 0.75;
}

#btn-marker.active {
    background-color: #FFFF33;
    box-shadow: 0px 0px 0px;
    /*background-color: rgb(255, 240, 102);*/
}

#text {
    padding: 15px;
    line-height: 28pt;
    font-size: 14pt;
    text-align: justify;
}

#text>span.annotated {
    text-decoration: underline;
}

#welcome {
    padding: 15px;
}

#categories {
    list-style: none;
    padding-left: 15px;
}

.annotation {
    padding: 5px;
}

.annotation-info {
    color: grey;
    font-size: 8pt;
    margin-right: 10pt;
    float: left;
}

.annotation-text {
    margin-left: 16%;
}

#categories>li {
    font-weight: bold;
    padding-left: 10px;
}

#categories>li>div {
    font-weight: normal;
    background-color: white;
}

#all-annotations {
    display: none;
    padding: 15px;
}

#new-annotation {
    display: none;
    padding: 25px;
    padding-top: 0px;
    border: solid 1px #000;
}

#add-buttons {
    float: right;
}

#RB01 {
    margin-left: 20px;
    background-color: red;
    color: purple;
}

#annotation-category {
    margin-top: 10px;
}

#categories-left, #categories-right {
    float: left;
}

#categories-right {
    margin-left: 10px;
}

#new-annotation-text {
    width: 95%;
    padding: 2.5%;
}

#filters {
    line-height: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}
#filters li {
    display: inline-block;
    height: 50px;
    line-height: 20px;
    border-left: 1px solid #DDDDDD;
    padding-left: 20px;
}
#filters li:last-child {
    border-right: 1px solid #DDDDDD;
}
#filters li span {
    margin-right: 20px;
}



span.highlight {
    background-color: #FFFF33;
}

span.highlight1 {
    background-color: #FFFF33;
}

.dropdown-icon {
    transition: transform .3s ease-out;
    transform: rotate(0deg);
}

.dropdown-icon.rotated {
    transition: transform .3s ease-out;
    transform: rotate(90deg);
}

.category {
    font-size: 14pt;
    cursor: pointer;
}

.category.expanded-dropdown,.category:hover {
    background-color: rgb(241, 241, 241);;
}

.edit-button {
    margin-right: 10px;
    margin-left: 10px;
}

.c00-annotation {
    padding-left: 3px;
    border-left: thick solid #82DAF9;
}

.c01-annotation {
    padding-left: 3px;
    border-left: thick solid #70C1B3;
}

.c02-annotation {
    padding-left: 3px;
    border-left: thick solid #d194ff;
}

.c03-annotation {
    padding-left: 3px;
    border-left: thick solid #ff9595;
}

label[for="c00"] {
    padding-left: 5px;
    border-left: thick solid #82DAF9;
}

label[for="c01"] {
    padding-left: 5px;
    border-left: thick solid #70C1B3;
}

label[for="c02"] {
    padding-left: 5px;
    border-left: thick solid #d194ff;
}

label[for="c03"] {
    padding-left: 5px;
    border-left: thick solid #ff9595;
}

.disabled-dropdown{
    color: #929292;
}