#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#templates {
    display: none;
}
/* main layout */
#col-left {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 50%;
    padding-right: 26px; /* makes room for middle column */
    overflow: auto;
}
#col-right {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 50%;
    right: 0;
    padding-left: 26px;
    overflow: auto;
}
#col-mid {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 50%;
    width: 50px;
    margin-left: -26px;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
    z-index: 10;
    background-color: #FFFFFF;
}

.text {
    font-family: 'Times New Roman', Times, serif;
}

#note-tb {
    width: 50px;
}

#note-tb div {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: solid 1px #DDDDDD;
}
#note-tb div:hover {
    background-color: #DDDDDD;
}
#btn-marker {
    background-image: url("../img/marker.png");
}

#btn-marker.active {
    background-color: #FFFF33;
}
#btn-marker.active:hover {
    background-color: #F0F030;
}


#text {
    padding: 15px;
    line-height: 28pt;
    font-size: 14pt;
    text-align: justify;
}

.annotated-0 { border-bottom: thick solid #82DAF9; }
.annotated-1 { border-bottom: thick solid #70C1B3; }
.annotated-2 { border-bottom: thick solid #d194ff; }
.annotated-3 { border-bottom: thick solid #ff9595; }

#welcome {
    padding: 15px;
}

.annotation {
    padding: 15px;
}
.annotation .text {
    margin-bottom: 5px;    
}
.annotation .infobar {
    overflow: auto;
}
.annotation .infotxt {
    float: left;
    color: grey;
    font-size: 8pt;
    margin-top: 8px;
}
.annotation button {
    float: right;
}

.annotation-edit {
    padding: 25px;
    padding-top: 0px;
    border: solid 1px #000;
}
.annotation-edit .buttons {
    float: right;
}

.annotation-edit .text {
    width: 100%;
}
.annotation-edit .radios {
    margin: 10px 0;
    border-top: solid 1px #AAAAAA;
    border-bottom: solid 1px #AAAAAA;
}
.annotation-edit .radios label {
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 10px;
    margin: 0 -10px;
}
.annotation-edit .radios label:checked {
    background-color: #AAAAAA;
}

#RB01 {
    margin-left: 20px;
    background-color: red;
    color: purple;
}

#filters {
    line-height: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}
#filters li {
    display: inline-block;
    height: 50px;
    line-height: 20px;
    border-left: 1px solid #DDDDDD;
    padding-left: 20px;
}
#filters li:last-child {
    border-right: 1px solid #DDDDDD;
}
#filters li span {
    margin-right: 20px;
}

span.highlight {
    background-color: #FFFF33;
}

#inspect {
    display: none;
}
#inspect h3 {
    padding: 15px;
}
.annotationlist {
        border-bottom: solid 1px #AAAAAA;
}
.annotationlist h4 {
    display: block;
    padding: 15px;
    margin: 0;
    border-top: solid 1px #AAAAAA;
    user-select: none;
    cursor: pointer;
}
.annotationlist h4.empty {
    color: #DDDDDD;
}
.annotationlist h4 .dropdown-icon {
    margin-right: 15px;
    transition: transform .3s ease-out;
    transform: rotate(0deg);
}
.annotationlist h4.open .dropdown-icon {
    transition: transform .3s ease-out;
    transform: rotate(90deg);
}
.annotationlist .content {
    display: none;
}
.annotationlist .content.open {
    display: block;
}

.c00-annotation {
    border-left: thick solid #82DAF9;
}

.c01-annotation {
    border-left: thick solid #70C1B3;
}

.c02-annotation {
    border-left: thick solid #d194ff;
}

.c03-annotation {
    border-left: thick solid #ff9595;
}

label[for="c00"] {
    padding-left: 5px;
    border-left: thick solid #82DAF9;
}

label[for="c01"] {
    padding-left: 5px;
    border-left: thick solid #70C1B3;
}

label[for="c02"] {
    padding-left: 5px;
    border-left: thick solid #d194ff;
}

label[for="c03"] {
    padding-left: 5px;
    border-left: thick solid #ff9595;
}
