#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#templates {
    display: none;
}
/* main layout */
#col-left {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 50%;
    border-right: 2px solid #DDDDDD;
}
#col-left #textpane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}
#col-right {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow: auto;
}

.text {
    font-family: 'Times New Roman', Times, serif;
}

#note-tb {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 70px;
}

#note-tb div, #main-tb div {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: solid 1px #DDDDDD;
}

#note-tb div {
    width: 70px;
    height: 70px;
    background-size: 30px;
    border-bottom: none;
}

#note-tb div:hover, #main-tb div:hover {
    background-color: #DDDDDD;
}
#btn-marker {
    background-image: url("../img/marker.png");
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    box-shadow: 3px 5px 5px #AAAAAA;
    background-color: #FFFFFF;
}

#btn-marker.active {
    background-color: #FFFF33;
    box-shadow: 0px 0px 10px #AAAAAA;
}
#btn-marker.active:hover {
    background-color: #F0F030;
}

#main-tb {
    height: 50px;
    float: right;
}
#main-tb > div {
    border-left: solid 1px #DDDDDD;
    float: left;
}
#btn-print    {background-image: url("../img/print.png");}
#btn-addtext  {background-image: url("../img/addtext.png");}
#btn-settings {background-image: url("../img/settings.png");}
#btn-user     {
    background-image: url("../img/user.png");
    width: auto !important;
    padding: 0 15px 0 50px;
    line-height: 50px;
    background-position: 15px center !important;
}


#logo:hover {
    cursor: pointer;
    background-color: #DDDDDD;
}

#logo:visited, #logo:active, #logo:hover, #logo:link, #logo-link:link, #logo-link:hover, #logo-link:active, #logo-link:visited {
    color: inherit;
/*    text-decoration: none;*/
}


#text {
    padding: 15px;
    padding-bottom: 90px;
    line-height: 28pt;
    font-size: 14pt;
    text-align: justify;
}

.annotated-0 { border-bottom: 2px dotted #82DAF9; }
.annotated-1 { border-bottom: 2px dotted #9ef372; }
.annotated-2 { border-bottom: 2px dotted #d194ff; }
.annotated-3 { border-bottom: 2px dotted #ff9595; }
span.instructor { border-bottom-style: solid; }

.annotated-0.annotated-1, .annotated-0.annotated-2,
.annotated-0.annotated-3, .annotated-1.annotated-2,
.annotated-1.annotated-3, .annotated-2.annotated-3 {
    border-bottom: #AAAAAA;
    border-bottom-style: double;
    border-bottom-width: 5px;
}

.inspected {text-shadow:1px 0px 0px black;}

#welcome {
    padding: 15px;
}

.annotation {
    padding: 15px;
    position: relative;
}
.annotation .nr {
    display: none;
}
.annotation .nr {
    display: none;
}
.annotation .pos, .pos {
    font-style: italic;
}
.annotation .text {
    margin-bottom: 5px;    
}
.annotation .infobar {
    overflow: auto;
}
.annotation .infotxt {
    float: left;
    color: grey;
    font-size: 8pt;
    margin-top: 8px;
}
.annotation button {
    float: right;
}

.deleted-annotation.default {
    display: none;
}


.deleted-annotation {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    padding: 15px;
}


.deleted-annotation  button{
    float: right;
}

.annotation-edit {
    padding: 25px;
    padding-top: 0px;
    border: solid 1px #000;
}
.annotation-edit .buttons {
    float: right;
}

.annotation-edit .text {
    width: 100%;
}
.annotation-edit .radios {
    margin: 10px 0;
    border-top: solid 1px #AAAAAA;
    border-bottom: solid 1px #AAAAAA;
}
.annotation-edit .radios label {
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 10px;
    margin: 0 -10px;
}
.annotation-edit .radios label:checked {
    background-color: #AAAAAA;
}

#RB01 {
    margin-left: 20px;
    background-color: red;
    color: purple;
}

#filters {
    line-height: 20px;
    padding: 15px;
    margin: 0;
    float: left;
    border-left: solid 1px #DDDDDD;
}
#filters .category-icon {
    cursor: pointer;
}

span.highlight {
    background-color: #FFFF33;
}

#inspect {
    display: none;
}
#inspect h3 {
    padding: 15px;
}
.annotationlist {
        border-bottom: solid 1px #AAAAAA;
}
.annotationlist h4 {
    display: block;
    padding: 15px;
    margin: 0;
    border-top: solid 1px #AAAAAA;
    user-select: none;
    cursor: pointer;
}
.annotationlist h4.empty {
    color: #DDDDDD;
}
.annotationlist h4 .dropdown-icon {
    margin-right: 15px;
    transition: transform .3s ease-out;
    transform: rotate(0deg);
}
.annotationlist h4.open .dropdown-icon {
    transform: rotate(90deg);
}

.annotationlist h4.open.empty .dropdown-icon {
    transform: rotate(0deg);
}

.category-icon {
    background-color: #DDDDDD;
    color: #FFFFFF;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    user-select: none;
}
.category-icon.vocab {
    background-color: #82DAF9;
}
.category-icon.grammar {
    background-color: #81d257;
}
.category-icon.media {
    background-color: #d194ff;
}
.category-icon.other {
    background-color: #ff9595;
}
.annotationlist h4.empty .category-icon, #filters .inactive {
    background-color: #DDDDDD;
}

.annotationlist .content {
    display: none;
}
.annotationlist .content.open {
    display: block;
}

.annotation.category-0 {border-left: thick dotted #82DAF9;}
.annotation.category-1 {border-left: thick dotted #9ef372;}
.annotation.category-2 {border-left: thick dotted #d194ff;}
.annotation.category-3 {border-left: thick dotted #ff9595;}
.annotation.instructor {border-left-style: solid;}

::selection {
    background: rgba(112, 186, 255, 0.62);
}

.selection-highlight-yellow span::selection {
    background-color: yellow;
}

.save.disabled {
    opacity: .5;
}

.hovered {
    background-opacity: .5;
}

.category-0.hovered {
    background-color: rgba(130, 218, 249, .3);
}
.category-1.hovered {
    background-color: rgba(158, 243, 114, .3);
}
.category-2.hovered {
    background-color: rgba(209, 148, 255, .3);
}
.category-3.hovered {
    background-color: rgba(255, 149, 149, .3);
}