html, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

h3 {
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
    color: #555555; /* charcoal lightly reduces bold effect */
}


/* header */ 

#header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #DDDDDD;
}
#logo {
    font-size: 20px;
    padding: 15px;
    float: left;
    cursor: default;
    user-select: none;
    letter-spacing: 5pt;
}

/* user navigation bar */
#user {
    line-height: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}
#user li {
    display: inline-block;
    height: 50px;
    line-height: 20px;
    border-left: 1px solid #DDDDDD;
}
#user li:first-child {
    border-left: none;
}
#user li span, #user li a, #user li a:active {
    display: block;
    padding: 15px;
    color: #000000;
    outline: none;
    text-decoration: none;
}
#user li a:hover {
    background-color: #DDDDDD;
}

#content {
    padding: 15px;
}